<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveStreamingVideoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>282E85771C49EA1C0046490B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>282E85901C49EA1C0046490B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>282E859B1C49EA1C0046490B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
